@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

// colors
$info: #81cacf;
$primary: #444;
$success: #4ade80;
$danger: #ef4444;
$dark: #121614;
$light: #ccc;

// box shadow
$shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
  0 1px 3px 1px rgba(60, 64, 67, 0.149);

// transition
$transition: all 250ms ease-out;

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #f3f4f6;
  color: $primary;
}
